{%
  set classes = [
    'node',
    'node-detail',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

{% if view_mode == "teaser" %} 
  
  <div class="service-block grid">      
    {% if node.field_service_icon.value %}
      <div class="service-icon"><i class="{{ node.field_service_icon.value }}"></i></div>
    {% endif %}  
    <div class="service-content">
       <div class="content-inner">
          <h3 class="title"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h3>
          <div class="desc">{{ content.body }}</div>
          <div class="readmore"><a class="btn-inline" href="{{ url }}">{{'Lire la suite'|t}}</a></div>
       </div>    
    </div>
  </div>

{% elseif view_mode == "teaser_2" %}

  <div class="service-block-2 grid">      
    <div class="service-images lightGallery">{{ content.field_service_images }}</div>
    <div class="service-content">
       <div class="content-inner">
          <div class="sp-info"><h3 class="title"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h3></div>
          <div class="sp-info"><div class="desc">{{ content.body }}</div></div>
          <div class="sp-info"><span class="hidden">{{ node.field_service_icon.value }}</span></div>
          <div class="readmore"><a class="btn-inline" href="{{ url }}">{{'Lire la suite'|t}}</a></div>
       </div>    
    </div>
  </div>

{% elseif view_mode == "teaser_3" %}

  <div id="blk3"  class="service-block-3 grid">      
    <div class="service-images lightGallery"><a href="{{ url }}" rel="bookmark">{{ content.field_service_images }}</a></div>
    <div class="service-content">
       <div class="content-inner">
          {% if node.field_service_icon.value %}
            <div class="service-icon"><span class="icon"><i class="{{ node.field_service_icon.value }}"></i></span></div>
          {% endif %}  
          <div class="desc">{{ label }}</div>
          <div class="desc">{{ content.body }}</div>
          <div class="readmore"><a class="btn-inline" href="{{ url }}">{{'Lire la suite'|t}}</a></div>
       </div>    
    </div>
  </div>
{% elseif view_mode == "teaser_4" %}
         

    <div class="item">
      <div class="content-inner">
	  <div class="date-span">{{ node.field_date.value }}</div>
        <div class="image">
		   
		<img src="{{ file_url(node.field_service_images.entity.uri.value) }}" alt="{{ label }}"/>
			
		</div>
        <div class="box-content">
          <div class="title">{{ label }}</div>   
		  <div class="readmore-plus"><a class="" href="{{ url }}">{{'+'|t}}</a></div>
          <div style="display:none;" class="desc">{{ node.body.value|striptags|slice(0, 200) }}</div>   
        </div>      
      </div>
    </div>
          
 

  
{% else %}

<article{{ attributes.addClass(classes) }} >
  <div class="service-block-singe actu-{{node.id }}">
    <div class="service-images-inner" id="{{ node.field_object_fit.value }}">
      {{ content.field_service_images }}
      {% if node.field_service_icon.value %}
          <div class="service-icon"><span class="icon"><i class="{{ node.field_service_icon.value }}"></i></span></div>
        {% endif %}
    </div>
    <div class="post-content">
      {{ title_prefix }}
         <h1{{ title_attributes.addClass('post-title') }}>{{ label }}</h1>
      {{ title_suffix }}      
      <div class="post-meta">
	  {% if node.field_date.value %}
           <span class="post-categories"></span><span class="line"></span><span class="post-created">{{ node.field_date.value }} </span>
		{% endif %}
		</div>
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_service_images', 'field_service_icon', 'comment') }}
      </div>
      <div id="node-single-comment">
        <div id="comments">
          {{ content.comment }}
        </div>  
      </div>

    </div>

  </div>

</article>

<!-- End Display article for detail page -->
{% endif %}